html, body {
    width: 100%; height: 100%; margin: 0; padding: 0;
}

body {
    background: url('../images/apres0280.jpg');
    background-size: cover;
    transform-style: preserve-3d;
}

.place {
    padding: 70px 0 0;
    transform-style: preserve-3d;
}

#gog {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

.play {
    width: 950px;
	height: 760px;
    -webkit-transform: rotateX(23deg);
    -moz-transform: rotateX(23deg);
    -o-transform: rotateX(23deg);
    transform: rotateX(23deg);
    overflow: hidden;
    margin: 0 auto;
    box-shadow:0 0 0 50px rgba(49,47,48,1), 0 0 30px 40px #000, 30px 5px 5px 50px rgba(0,3,9,1), 0 0 0 30px rgba(49,47,48,1) inset;
    box-sizing: border-box;
}

#plateAround {
	-webkit-transform:perspective(600) rotateX(-45deg);
	background-color:rgba(29,26,21,1);
	margin:93px auto 0;
	width:1248px;
    height:16px;
    box-shadow: 0 10px 30px #000;
}

.cell {
	width: 50px;
	height: 40px;
    float:left;
    box-sizing: border-box;
    background: url('../images/cell.png');
	background-size:cover;
}

.cell:empty:hover {
    background-color:red;
}

.white {
    background-color: white;
    cursor:not-allowed;
    display:block;
    margin:10%;
    width:75%;
    height:75%;
    border-radius:50%;
    transition:all 200ms;
    transform-origin:50%;
    box-shadow:inset 0 -6px 16px rgba(180,180,180,0.5),0 3px 6px rgba(0,0,0,0.5), 0 1px 0 rgb(200,200,200),0 2px 0 rgb(200,200,200),0 3px 0 rgb(200,200,200);
}

.black {
	background-color: #222222;
    cursor:not-allowed;
    display:block;
    margin:10%;
    width:75%;
    height:75%;
    border-radius:50%;
    transition:all 200ms;
    transform-origin:50%;
    box-shadow:inset 0 -6px 16px rgba(0,0,0,0.3),0 3px 12px -4px rgba(0,0,0,0.5), 0 1px 0 rgb(0,0,0),0 3px 0 -2px rgb(0,0,0),0 4px 0 -2px rgb(0,0,0),0 6px 14px -8px rgba(0,0,0,1);
}

.unplay1 {
    cursor:not-allowed;
}

.unplay2 {
    cursor:not-allowed;
}

.coinHG {
    background: url('../images/coinHG.png');
	background-size: cover;
}
.coinBG {
    background: url('../images/coinBG.png');
	background-size: cover;
}
.coinHD {
    background: url('../images/coinHD.png');
	background-size: cover;
}
.coinBD {
    background: url('../images/coinBD.png');
	background-size: cover;
}
.bordH {
    background: url('../images/bordH.png');
	background-size: cover;
}
.bordG {
    background: url('../images/bordG.png');
	background-size: cover;
}
.bordD {
    background: url('../images/bordD.png');
	background-size: cover;
}
.bordB {
    background: url('../images/bordB.png');
	background-size: cover;
}

@media (max-width: 1500px) {
	.play {
		width: 641.25px;
		height: 513px;
		-webkit-transform: rotateX(29deg);
		-moz-transform: rotateX(29deg);
		-o-transform: rotateX(29deg);
		transform: rotateX(29deg);
		overflow: hidden;
		margin: 0 auto;
		box-shadow:0 0 0 50px rgba(49,47,48,1), 0 0 30px 40px #000, 30px 5px 5px 50px rgba(0,3,9,1), 0 0 0 30px rgba(49,47,48,1) inset;
		box-sizing: border-box;
}
	.cell {
		width: 33.75px;
		height: 27px;
		float:left;
		box-sizing: border-box;
		background: url('../images/cell.png');
		background-size: cover;
	}
	.coinHG {
		background: url('../images/coinHG.png');
		background-size: cover;
	}
	.coinBG {
		background: url('../images/coinBG.png');
		background-size: cover;
	}
	.coinHD {
		background: url('../images/coinHD.png');
		background-size: cover;
	}
	.coinBD {
		background: url('../images/coinBD.png');
		background-size: cover;
	}
	.bordH {
		background: url('../images/bordH.png');
		background-size: cover;
	}
	.bordG {
		background: url('../images/bordG.png');
		background-size: cover;
	}
	.bordD {
		background: url('../images/bordD.png');
		background-size: cover;
	}
	.bordB {
		background: url('../images/bordB.png');
		background-size: cover;
	}
	.white {
		background-color: white;
		cursor:not-allowed;
		display:block;
		margin:10%;
		width:72%;
		height:72%;
		border-radius:50%;
		transition:all 200ms;
		transform-origin:50%;
		box-shadow:inset 0 -6px 16px rgba(180,180,180,0.5),0 3px 6px rgba(0,0,0,0.5), 0 1px 0 rgb(200,200,200),0 2px 0 rgb(200,200,200),0 3px 0 rgb(200,200,200);
	}
	.black {
		background-color: #222222;
		cursor:not-allowed;
		display:block;
		margin:10%;
		width:72%;
		height:72%;
		border-radius:50%;
		transition:all 200ms;
		transform-origin:50%;
		box-shadow:inset 0 -6px 16px rgba(0,0,0,0.3),0 3px 12px -4px rgba(0,0,0,0.5), 0 1px 0 rgb(0,0,0),0 3px 0 -2px rgb(0,0,0),0 4px 0 -2px rgb(0,0,0),0 6px 14px -8px rgba(0,0,0,1);
	}
	#plateAround {
		-webkit-transform:perspective(600) rotateX(-45deg);
		background-color:rgba(29,26,21,1);
		margin:55px auto 0;
		width:855px;
		height:27px;
		box-shadow: 0 10px 30px #000;
	}
}

/*@media (max-width: 1800px) {
	.play {
		width: 831.25px;
		height: 665px;
		-webkit-transform: rotateX(29deg);
		-moz-transform: rotateX(29deg);
		-o-transform: rotateX(29deg);
		transform: rotateX(29deg);
		overflow: hidden;
		margin: 0 auto;
		box-shadow:0 0 0 50px rgba(49,47,48,1), 0 0 30px 40px #000, 30px 5px 5px 50px rgba(0,3,9,1), 0 0 0 30px rgba(49,47,48,1) inset;
		box-sizing: border-box;
	}
	.cell {
		width: 43.75px;
		height: 35px;
		float:left;
		box-sizing: border-box;
		background: url('../images/cell.png');
		background-size: cover;
	}
	.coinHG {
		background: url('../images/coinHG.png');
		background-size: cover;
	}
	.coinBG {
		background: url('../images/coinBG.png');
		background-size: cover;
	}
	.coinHD {
		background: url('../images/coinHD.png');
		background-size: cover;
	}
	.coinBD {
		background: url('../images/coinBD.png');
		background-size: cover;
	}
	.bordH {
		background: url('../images/bordH.png');
		background-size: cover;
	}
	.bordG {
		background: url('../images/bordG.png');
		background-size: cover;
	}
	.bordD {
		background: url('../images/bordD.png');
		background-size: cover;
	}
	.bordB {
		background: url('../images/bordB.png');
		background-size: cover;
	}
	.white {
		background-color: white;
		cursor:not-allowed;
		display:block;
		margin:10%;
		width:60%;
		height:60%;
		border-radius:50%;
		transition:all 200ms;
		transform-origin:50%;
		box-shadow:inset 0 -6px 16px rgba(180,180,180,0.5),0 3px 6px rgba(0,0,0,0.5), 0 1px 0 rgb(200,200,200),0 2px 0 rgb(200,200,200),0 3px 0 rgb(200,200,200);
	}
	.black {
		background-color: #222222;
		cursor:not-allowed;
		display:block;
		margin:10%;
		width:60%;
		height:60%;
		border-radius:50%;
		transition:all 200ms;
		transform-origin:50%;
		box-shadow:inset 0 -6px 16px rgba(0,0,0,0.3),0 3px 12px -4px rgba(0,0,0,0.5), 0 1px 0 rgb(0,0,0),0 3px 0 -2px rgb(0,0,0),0 4px 0 -2px rgb(0,0,0),0 6px 14px -8px rgba(0,0,0,1);
	}
	#plateAround {
		-webkit-transform:perspective(600) rotateX(-45deg);
		background-color:rgba(29,26,21,1);
		margin:52px auto 0;
		width:803px;
		height:16px;
		box-shadow: 0 10px 30px #000;
	}
}*/
/*NAVBAR -------------*/
#navbar {
    position: fixed;
    bottom: 6vh;
    left: 0px;
    right: 0px;
    
}
#navbar ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#navbar ul li{
    margin: 22px;
    width: 30px;
    height: 30px;
    
}
#navbar ul li p{
    margin: 0;
    font-family: 'GillSans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 0.8em;

}