.play {
	width: 230px;
	height: 230px;
}

.cell {
	width: 10px;
	height: 10px;
	border: 1px solid;
	float:left;
	background-color: green;
}

.unplay1 {
    background-color: blue;
}

.unplay2 {
    background-color: red;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}